@use "../../../stylesheets/shared/mixins" as m;
@use "../../../stylesheets/shared/variables" as v;


.ic__container {
   width: 100%;
   padding: 1rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: auto;
   gap: 1rem;
   background-color: v.$White;

   @include m.desktop {
      flex-grow: 5;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 31rem;
      
   }
}