$font: 'Kumbh Sans', sans-serif;

$Mens-light-sky-blue: #7FB7C9;
$Dark-blue: hsl(195, 100%, 31%);
$Womens-light-pink: hsl(349, 100%, 90%);
$Dark-pink : hsl(349, 100%, 73%);
$light-orange: #FFBFA6;
$Light-yellow: #FEE1BC;
$Light-red: #F5615F;
$Blue: #146FF8;

//genaral colors
$White: #ffff;
$Light-gray: #696E6E;
$Black-main-text: #303536;
$Black-Opacity: rgba(0, 0, 0, 0.3);

$tablet: 638px;
$Desktop: 1224px;