$font: 'Kumbh Sans', sans-serif;

$Mens-light-sky-blue: #7FB7C9;
$Womens-light-orange: #FFBFA6;
$Light-yellow: #FEE1BC;
$Light-red: #F5615F;
$Blue: #146FF8;


//genaral colors
$White: #ffff;
$Light-gray: #696E6E;
$Black-main-text: #303536;
$Black-Opacity: rgba(48, 53, 54, .5);

$tablet: 638px;
$Desktop: 1224px;