@use "../../../stylesheets/shared/variables" as v;
@use "../../../stylesheets/shared/mixins" as m;

.tfc__container {
   margin: 0 0 1rem;
   position: relative;
   .tfc__content {
      text-align: left;
      padding: 2rem 1rem;
      width: 100;
      color: v.$White;
      > h1 {
         font-size: 2rem;
         text-transform: uppercase;
      }
      > p {
         width: 70%;
         line-height: 1.4;
         font-weight: bold;
         &:nth-of-type(1){
            font-size: 1.5rem;
         }
         &:nth-of-type(2) {
            font-size: 1rem;
         }
      }
      
   }
   .tfc__image {
      width: 100%;
      height: 16rem;
      background-color: v.$White;
      @include m.flex-column;
      > img {
         opacity: .8;
         height: 100%;
         width: 100%;
      }
   }

}
.tfc__buttons {
   @include m.flex-row;
   justify-content: space-between;
   font-size: .9rem;
   margin-top: 2rem;
   @include m.desktop {
      width: 50%;
      justify-content: space-between;
    }
}
button {
   border: none;
   text-transform: uppercase !important;
   padding:.8rem 2rem;
   font-weight: bold;
   color: v.$White;
   &:hover {
      filter: brightness(90%);
   }
}



@include m.desktop {
   .tfc__container {
      padding: 0 5rem;
      position: relative;

      .tfc__content {
         text-align: left;
         position: relative;
         padding: 5rem 5% 5rem 2rem;
         width: 65%;
         > h1 {
            font-size: 3rem;
         }
         > p {
            &:nth-of-type(1){
               font-size: 1.5rem;
            }
            &:nth-of-type(2) {
               font-size: 1.2rem;
            }
         }
         > * {
            position: relative;
            z-index: 1;
         }
      }
      .tfc__image {
         width: 50%;
         height: 32.5rem;
         position: absolute;
         top: 10%;
         right: 5%;
         z-index: 0;
         > img {
            width: 100%;
         }
      }
   
   }  
}

.tfc__Home_content {
   background-color: v.$light-orange;
   button {
      background-color: v.$Light-red;
   }
}

.tfc__Women_content {
   background-color: v.$Womens-light-pink;
   button {
      background-color: v.$Dark-pink;
   }
}
.tfc__Men_content {
   background-color: v.$Mens-light-sky-blue;
  button {
     background-color: v.$Dark-blue;
  }
}